/* Qwidget {
    background-color: transparent;
}/* style.qss */

#contentLabel {
    background-color: transparent;
    color: white;
}

QPushButton {
    color: white; 
    background-color: #333; 
    border-radius: 10px; 
}

QWidget {
    background-color: transparent;
}

#checkboxLabel {
    color: white;
    background-color: transparent;
}